 <h2>Chat Room</h2>
    <div id="chat-box">
    </div>
    
    <form id="chat-form">
      <input type="text" placeholder="Username" id="user-name"></input>
      <textarea placeholder="Your comment" id="user-msg"></textarea>
      <button type="submit">Post</button>
    </form>
